{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}


<script>

$(document).ready(function(){
        $("#about").hide();
        $("#blog-list").hide();
        $("#research").hide();

    $("#app-list-btn").click(function(){
        $("#app-list").show();
        $("#blog-list").hide();
        $("#about").hide();
                        $("#research").hide();

    });
    $("#blog-list-btn").click(function(){
        $("#app-list").hide();
        $("#blog-list").show();
        $("#about").hide();
                        $("#research").hide();

    });
    $("#about-btn").click(function(){
        $("#app-list").hide();
        $("#about").show();
        $("#blog-list").hide();
                $("#research").hide();

    });

    $("#research-btn").click(function(){
        $("#app-list").hide();
        $("#about").hide();
        $("#blog-list").hide();
        $("#research").show();

    });
});






</script>

<script type="text/javascript">
    (function(d, sc, u) {
      var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
      s.type = 'text/javascript';
      s.async = true;
      s.src = u + '?v=' + (+new Date());
      p.parentNode.insertBefore(s,p);
      })(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');




</script>


<div class="container col">
    <div class="row">


        <div class="jumbotron col bg-dark">
            <h1 class="text-center text-danger "> Welcome To Mindcurd</h1>

            <ul class="nav justify-content-center">
                <li class="nav-item col ">
                    <button class="nav-button" id="app-list-btn">Apps</button>
                </li>
                <li class="nav-item col">
                    <button class="nav-button" id="blog-list-btn">Blogs</button>
                </li>
                <li class="nav-item col">
                    <button class="nav-button" id="research-btn">Research</button>
                </li>
                <li class="nav-item col">
                    <button class="nav-button" id="about-btn"> About Mindcurd</button>
                </li>
            </ul>
        </div>



    </div>
    <div id="main" class="justify-content-center">
        <div class="row">
            <div class="container col justify-content-end">
                <h2> Type of Curds</h2>
                <p> Available Now</p>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Red And Hard </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Runny </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Waterry </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>

             <div class="col">

            <div id="app-list" class="collapse">
                <h2>Travel App</h2>
                <iframe src="http://35.240.138.104:3000"></iframe>
            </div>

            <div id="blog-list">
                {% for post in page.get_children %}
                <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                {% endfor %}
            </div>
            <div id="about">
                {{page.body|richtext}}
            </div>
            <div id="research">

                {% for post in page.get_children %}
                <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                {% endfor %}
            </div>
        </div>


        </div>
    </div>

    <div class="row">
        <div class="col ">
            <ins class="bookingaff" data-aid="1676199" data-target_aid="1676199" data-prod="dfl2" data-width="300"
                 data-height="300"
                 data-lang="en" data-dest_id="-2103041" data-dest_type="city" data-df_num_properties="3">
                <!-- Anything inside will go away once widget is loaded. -->
                <a href="//www.booking.com?aid=1676199">Booking.com</a>
            </ins>
        </div>
    </div>
</div>


{% endblock %}

