
{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}


<style type="text/css">
            body, html
            {
                margin: 0; padding: 0; height: 100%;
            }

            #content
            {
                position:absolute; left:0; right: 0; bottom: 0px; top: 20px;
            }


        </style>


<div>
     <a href="{{ page.get_parent.url }}" allowfullscreen>Return to Blogs</a></p>
</div>

<div class="container">
   <div id="content">
       <iframe   width="100%" height="100%" frameborder="0" src="{{ page.research_url }}"  >
       </iframe>
</div>





{% endblock %}
